# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

./.vscode
./build
/Horsie/x64/Debug
/.vs/Horsie
/Horsie.sln
/Horsie.vcxproj
/Horsie.vcxproj.filters
/Horsie.vcxproj.user
/x64/Release
/Horsie/x64/Release
