name: Horsie CI

on: [push, workflow_dispatch, pull_request]

jobs:
  build-and-publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            runtime-identifier: linux-x64
          - os: windows-latest
            runtime-identifier: win-x64
          - os: macos-latest
            runtime-identifier: osx-x64
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Run Make
      run: make EXE=horsie-${{ matrix.os }}

    - name: Run Bench
      run: ./horsie-${{ matrix.os }} bench
